*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  background-color: #ffdb00;
}
.title{
  color: white;
  font-size: 10rem;
  text-align: center;
  font-family: Conv_Bauhausl,sans-serif;
}
.hero{
  color: white;
  font-size: 5rem;
  margin: 2rem;
  text-align: center;
}
.info{
  width: 50%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  background: white;
}
.info a{
  color: #ffdb00;
}
.form{
  width: 50%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  background-color: white;
}
.input{
  outline: 0;
  padding: 1rem;
  font-size: 4rem;
  font-family: monospace;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.input-block{
  width: 100%;
  display: block;
}
.btn{
  color: white;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  background: #ffdb00;
}
.btn-block{
  width: 100%;
  display: block;
}
footer{
  display: block;
  margin: 2rem auto;
}
nav{
  text-align: center;
  display: block;
}
nav a{
  margin-right: .5rem;
}
a{
  color: white;
}


@media screen and (max-width: 768px){
  header{
    margin-top: 2rem;
  }
  main{
    width: 95%;
  }
  .hero{
    font-size: 2rem;
  }
  .info, .form{
    width: 90%;
    font-size: 1rem;
    border-radius: 3px;
  }
  .input, .btn{
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px){
  .nav{
    float: right;
    display: inline-flex;
  }
}